/* =============
    Header
============= */
header {
    background-color: $white;
    border-bottom: 15px $black solid;
    left: 0;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    div {
        display: grid;
        font-family: 'Nanum Gothic', sans-serif;
        grid-template-areas: "t1 t2 t3 t4 . . . t5";
        grid-template-columns: repeat(8, 1fr);

        #logo-container {
            align-items: center;
            display: flex;
            grid-area: t1;
            justify-content: center;

            div {
                img {
                    display: block;
                    max-height: 100%;
                    max-width: 100%;

                    @include md {
                        width: initial;
                    }
                }
            }
        }

        #login-container {
            align-items: center;
            display: flex;
            grid-area: t2;
            justify-content: center;
                        
            a:link,a:visited{
                h2{
                    color: $black;
                }
            }
            a:hover,a:active{
                h2{
                    transition: 0.25;
                    color: $orange;
                }
            }
        }

        #brands-container {
            align-items: center;
            display: flex;
            grid-area: t3;
            justify-content: center;

            a:link,a:visited{
                h2{
                    color: $black;
                }
            }         
            a:hover,a:active{
                h2{
                    transition: 0.25;
                    color: $orange;
                }
            }
        }

        #about-container {
            align-items: center;
            display: flex;
            grid-area: t4;
            justify-content: center;
            a:link,a:visited{
                h2{
                    color: $black;
                }
            }
            a:hover,a:active{
                h2{
                    transition: 0.25;
                    color: $orange;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: t5;
            justify-content: center;

            #burger {
                cursor: pointer;
                transition: 0.25;

                #lines {
                    transition: 0.25;
                    fill: $black;
                }

                &:hover{
                    #lines{
                        transition: 0.25;
                        fill: $orange;
                    }
                }
            }
        }
    }
}